* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f8f9fa;
    color: #222;
    line-height: 1.6;
}

:root {
    --laranja: #ff7a00;
    --azul: #0046ff;
    --verde: #009e60;
    --dourado: #fdca3d;
    --escuro: #1a1a1a;
}

.cabecalho {
    width: 100%;
    background: var(--azul);
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.cabecalho section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho img{
    width: 70px;
}

nav{
    display: flex;
    gap: 20px;

}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

nav a :hover{
    color: var(--dourado);
}

.meu-bnt{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffff;
}  

.nosso-lema{
    text-align: center;
    padding: 140px 20px 80px;
    background: linear-gradient(135deg, var(--azul), var(--verde));
    color: #ffff;
}

.nosso-lema h1{
    font-size: 2rem;
    margin-bottom: 15px;
}

.lema{
    font-size: 1.3rem;
    color:var(--dourado)
}

.verciculo{
    margin: 20px auto;
    max-width: 600px;
    font-style: italic;
}

.venha{
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}

#sobre{
    padding: 80px 20px;
    background: #ffff;
}

#sobre h3{
    color: var(--azul);
    margin-bottom: 10px;
}

.nos>div{
    background: #ffff;
    padding: 20px;
    margin: 15px 0;
    border-left: 6px solid var(--dourado);
    border-right: 6px solid var(--dourado);
    border-radius: 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

#dias{
    padding: 80px 20px; 
    background: #f1f1f1;
}
#dias{
    text-align: center;
    color: var(--verde);
    font-size: 2rem;
    margin-top: 40px;
}

.cultos{
    background: #ffff;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    border-left:  8px solid var(--dourado);
    border-right: 8px solid var(--dourado);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.cultos h3{
    color: var(--laranja);
    margin-bottom: 5px;
}

.cultos h4{
    color: var(--azul);
    margin-bottom: 10px;
}

.sede{
    padding: 70px 20px;
    background: #fff;
}

.endereco h3{
    text-align: center;
    color: var(--azul);
}

.endereco p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1rem;
    
}

.mapa-container{
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.mapa-container iframe{
    width: 100%;
    height: 100%;
    border: 0;
}


.pedidos{
    padding: 80px 20px;
    background: linear-gradient(135deg, var(--verde), var(--azul));
    color: #fff;
    text-align: center;
}
.pedidos input, .pedidos textarea{
    width: 90%;
    padding: 12px;
    margin: 15px auto;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
} 

textarea{
    height: 130px;
    resize: none;
}

form button {
    background: linear-gradient(135deg, #ff8c00, #0ca84e, #0f7bff, #d4af37);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;

    border: none;
    padding: 12px 35px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    transition: .3s;
    outline: none;
}

/* Efeito no hover */
form button:hover {
    transform: scale(1.07);
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);

footer{
    padding: 15px;
    text-align:center ;
    background: var(--escuro);
    color: #fff;
    font-size: 0.9rem;
}
/* Tablets */
@media (max-width: 900px) {

    nav {
        gap: 15px;
    }

    .nosso-lema h1 {
        font-size: 1.6rem;
    }
}
/* Celular */
@media (max-width: 650px) {

    /* botão hamburguer aparece */
    .menu-btn {
        display: block;
    }

    /* nav some */
    nav {
        display: none;
        flex-direction: column;
        background: var(--azul);
        position: absolute;
        top: 90px;
        right: 0;
        width: 200px;
        padding: 20px;
        border-radius: 0 0 0 12px;
    }

    nav a {
        padding: 10px 0;
    }

    /* ativa o menu quando adicionar a classe */
    nav.ativo {
        display: flex;
    }

    .nosso-lema {
        padding-top: 150px;
    }
}